{% extends "foundation/layout.html" %}

{% load i18n %}

{% block pagetitle %}{% trans "Change password" %}{% endblock %}

{% block bodyMiddle %}
    <div id="changePasswordArea">
        {% if changed %}
            <div class="text-center">
                <h3>修改密码成功</h3>
                <h3><a href="{% url login %}">需要重新登录</a></h3>
            </div>
        {% else %}
            <div class="alert alert-error" id="changePasswordErrorMsg" {% if not form_msg %}style="display: none;"{% endif %}>
                <a class="close">x</a>
                <strong>{{ form_msg }}</strong>
            </div>
            
            <form action="" method="post" id="changePasswordForm" class="form-horizontal">{% csrf_token %}
                <fieldset>
                    {% if member %}
                        <input type="hidden" name="check_email" value="0" />
                    {% else %}
                        <input type="hidden" name="check_email" value="1" />
                        <div class="control-group">
                            <label class="control-label">{% trans 'Email Address' %}</label>
                            <div class="controls">
                                <input type="text" class="input-large" name="email" value="{{ email_value }}"/>
                                <p class="help-block">
                                    为了防止有人恶意试探出修改您密码的地址，<br/>
                                    所以还需要填写上你的电子邮件地址，<br/>
                                    确保本次修改密码的操作是您本人发起的
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label">{% trans 'New password' %}</label>
                        <div class="controls">
                            <input type="password" class="input-large" name="password"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success btn-large">{% trans 'Submit' %}</button>
                    </div>
                </fieldset>
            </form>
        {% endif %}
    </div>

{% endblock %}

{% block bodyRight %}
    <div class="item-box">
        <p class="item-content-head">{% trans 'Welcome' %}</p>
        <div class="item-content">
            <div class="item-content-body">
                <p>这是一个开放，自由的社区</p>
                <br/>
                <p>{% trans 'No account' %}?</p>
                <a href="{% url register %}">
                    <button class="btn btn-info">{% trans 'Regist' %}</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}