{% extends "foundation/layout.html" %}


{% block pagetitle %}重置密码{% endblock %}

{% block bodyMiddle %}
    <div id="renewPasswordArea">
        {% if show_form %}
            <div class="alert alert-error" id="renewPasswordErrorMsg" {% if not form_msg %}style="display: none;"{% endif %}>
                <a class="close">x</a>
                <strong>{{ form_msg }}</strong>
            </div>
            <form action="" method="post" id="renewPasswordForm">{% csrf_token %}
                <label class="control-label">Eamil
                    <input type="text" name="email" class="input-large" placeholder="请输入您注册时的电子邮箱"/>
                    <p class="help-block">
                        点击提交后，系统会给这个邮箱发送一封含有重置密码链接的邮件
                    </p>
                </label>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        {% else %}
            <h3>
                {% if success %}
                    已经给你的注册邮箱发送了一封重置密码的邮件，<br/>
                    请登录你的邮箱，访问邮件中的链接
                {% else %}
                    系统需要给你发送一封重置密码的邮件，<br/>
                    但邮件发送失败。暂时无法修改密码。<br/>
                    请联系 python.gears@gmail.com
                {% endif %}
            </h3>
        {% endif %}
    </div>
{% endblock %}

{% block bodyRight %}
{% endblock %}